<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <main>
      <div class="jumbotron">
        <h1>Welcome to our shop</h1>
        <p>Buy one of our products</p>

        <h2>Products</h2>
        <div class="d-flex">
          <!-- Begin product card-->
          <% products.forEach(function(product) { %>
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.description %></p>
              <p><%= product.price %></p>
              <a href="#" id="<%= product.product_id %>" class="btn btn-primary"
                >Add to basket</a
              >
            </div>
          </div>
          <% }); %>
          <!-- End product card -->
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
    <script src="scripts/functions.js" defer></script>
    <script src="scripts/homepage.js" defer></script>
  </body>
</html>
